<!doctype html>
<html>
	<head>
		<title>About</title>
	</head>
	<body>
		<div id="wrapper">
			<h2>Flask Chat Project</h2>
			<h4>"At now project still in develop"</h4>
			Programming Languages:<br />
			<ul>
				<li>Python</li>
			</ul>
			Technologies:<br />
			<ul>
				<li>JQuery</li>
				<li>Ajax</li>
				<li>socket io</li>
			</ul>
			Frameworks and modules:<br />
			<ul>
				<li>Flask</li>
				<li>Flask-SocketIO</li>
				<li>beautifulsoup4</li>
				<li>etc.</li>
			</ul>
			Thank you Zin'yo Roman for supporting  :)<br />
			Written by Dima Karaceban at September 2014
		</div>
		<!-- End of wrapper -->
	</body>
</html>