<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/main_page.css">

		<script type="text/javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" src="static/js/main/main_page.js"></script>
	</head>
	<body>
		<div id="block">
			<div id="wrapper">			
				<!-- Start of text_anim -->
				<div id="text_anim">
					<div id="firstLine" class="line anim_obj">Welcome to the</div>
					<div id="secondLine" class="line anim_obj">Flask chat...</div>
				</div>
				<!-- End of text_anim -->

				<!-- Start of menubar -->
				<div id="menubar" class="anim_obj">
					<ul>
						{% if not isLogedIn %}
						<a href="/login"><li>Log In</li></a>
						<li>|</li>
						<a href="/signup"><li >Sign Up</li>
						{% else %}
						<li><a href="/chat">Chat</a></li>
						<li>|</li>
						<li><a href="/logout">Log Out</a></li>
						{% endif %}
						{% if not isAdmin %}
						<li>|</li>
						<li><a href="/admin">Admin</a></li>
						{% endif %}
						<li>|</li>
						<li><a href="/about">About</a></li>
						<li>|</li>
						<li><a href="/contact_us">Contact Us</a></li>
					</ul>
				</div>
				<!-- End of menubar -->
			</div>
			<!-- End of wrapper -->
		</div>
<!-- 
		<div id="login_modal" class="modal_form">
			<form method="POST" action="/login">
				<div class="err_msg"></div>
				Login:
				<br><input type="text" name="login" class="field" />
				<br>Password:
				<br><input type="password" name="passwd" class="field" />
				<br><button id="modal_login_but" class="modal_button">Add</button>
			</form>
		</div>
		<div id="signup_modal" class="modal_form">
			<div id="signup_error_msg" class="error_msg">Error msg</div>
			Nickname:
			<br><input type="text" name="nickname" class="field" />
			<br>Email:
			<br><input type="text" name="email" class="field" />
			<br>Password:
			<br><input type="password" class="field" />
			<br>Repeat Password:
			<br><input type="password" name="passwd" class="field" />
			<br><input id="hash" class="field" hidden/>
			<br><button id="modal_signup_but" class="modal_button">Add</button>
		</div> -->
	</body>
</html>