<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="main_page.css">

		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="main_page.js"></script>
	</head>
	<body>
		<div id="block">
			<div id="wrapper">
				<div id="text_anim">
					<div id="firstLine" class="line" style="opacity: 0;">Welcome to the</div>
					<div id="secondLine" class="line" style="opacity: 0;">Flask chat...</div>
				</div>
				<!-- <div id="logButtons" style="opacity: 0;">
					<div class="but_wrapp">
						<button id="logIn" class="customBut">Log in</button>
					</div>
					<div class="but_wrapp">
						<button id="signIn" class="customBut">Sign up</button>
					</div>
				</div> -->
				<div id="menubar" style="opacity: 0;">
					<ul>
						<li>Log In</li>
						<li>|</li>
						<li>Sign Up</li>
						<li>|</li>
						<li>About</li>
						<li>|</li>
						<li>Contact Us</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>