body {
	font-style: Helvetica, Arial, monospace
}
a {
	text-decoration: none;
	color: inherit;
}

#panel_left {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	background-color: #2B6FED;
	color: white;
}
#nickname_wrapper {
	border-bottom: 3px solid #333;
	padding-bottom: 5px;
}
#logout {
	display: block;
	width: 100%;
	padding: 8px 0;
}
#logout span {
	margin-left: 10px;
}
#logout:hover {
	cursor: pointer;
	background-color: green;
}
#nickname {
	display: block;
	text-align: center;
	font-size: 1.4em;
	padding: 10px 0;
	width: 100%;
}
#channels_wrapper {
	margin-top: 20px;
}
#channels_title {
	margin-left: 20px;
	font-size: 1.3em;
}
#channels_search_wrapper {
	margin: 5px 2px;
	width: 200px;
}
#inp_channels_search {
	width: 160px;
}
#but_channels_search {
	float: right;
	width: 22px;
	height: 25px;
	margin-right: 10px;
	background-repeat: no-repeat;
}
#but_channels_search:hover {
	cursor: pointer;
}
#channels {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	overflow: auto;
}
#channels li {
	font-size: 1.1em;
	display: block;
	padding: 8px 0;
	width: 190px;
	padding-left: 10px;
}
#channels li:hover {
	cursor: pointer;
	background-color: green;
}

/* 
 * Right panel
 */
#panel_right {
	position: absolute;
	top: 0;
	left: 200px;
	width: 900px;
	margin: 5px;
}
#chat_div {
	float: left;
}
#chat_area {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	width: 900px;
    height: 460px;
}
#message_div {
	float: left;
}
#message_text {
	font-weight: 1.4em;
	padding: 4px 0;
	width: 825px;
}
#send_message {
	padding: 4px 10px;
}
.selected_channel {
	background-color: green;
}
