body {
	background-color: #F0F0F0;
}
#wrapper {
	width: 270px;
	margin: 30px auto;
	color: #333;
}
#title {
	font-size: 30px;
	font-family: Helvatica, Arial, sans-serif;
	margin-bottom: 10px;
}
#wrapper form input {
	color: #555;
	width: 94%;
	font-size: 1em;
	padding: 6px;	
}
#but_signup {
	margin-top: 10px;
	width: 100%;
}